.chevron-right-black-24dp-1-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.frame-div86 {
  position: absolute;
  top: 761px;
  left: 1409px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ece9f1;
  box-sizing: border-box;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
  height: 56px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 4px 16px;
  align-items: center;
  justify-content: center;
}
